
/*多图文*/
.item_news{border:1px #ccc solid; width:260px; height:auto; float:left; margin:5px ; background:#fff; position:relative; }
.item_news .first{ padding:10px; height:180px;  position:relative; overflow:hidden}
.item_news .first em{ width:100%;  display:block;height:20px; overflow:hidden; font-style:normal; }
.item_news .first img{ width:100%;  height:140px; }
.item_news .first span{ display:block; position:absolute; bottom:10px;color:#fff; background:#333; padding:2px 4px; filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity: 0.9;opacity: 0.9;}

.item_news .other{ padding:10px; height:60px; position:relative;border-top:1px #ccc solid;}
.item_news .other span{  width:180px; float:left; line-height:20px; overflow:hidden; height:40px;   }
.item_news .other img{ width:40px; height:40px; border:1px #ccc solid; float:right; margin:5px 0px;}
 
/*单图文*/
.item_news .single{ padding:10px;  position:relative;}
.item_news .single img{  width:100%; height:140px; }
.item_news .single span{ width:100%; display:block; max-height:40px; overflow:hidden; font-size:1.2em;}
.item_news .single em{ width:100%;  display:block;height:20px; overflow:hidden;font-style:normal; color:#666;}



/*多图文素材列表*/
 
.item_news .tool{ width:100%; height:30px; line-height:30px; background-image: -moz-linear-gradient(top, #fff, #eee);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType='0');padding:0px 0px; box-shadow:0px 3px 3px #ccc; border-top:1px #ccc solid;}
.item_news .tool a{ color:#ccc;}
.item_news .tool a:hover{   background-image: -moz-linear-gradient(top, #fff, #ddd);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType='0');padding:0px 0px;   color:#000; text-decoration:none;}
.item_news .tool .btn_edit{ width:50%; float:left; text-align:center}
.item_news .tool .btn_del{ width:50%; float:left; text-align:center}

/*单图文*/ 
.btnas{ width:200px; margin:0px auto; margin-top:50px; height:80px; display:none;}
.btnas .single{ width:100px; height:80px; background:url(btn_single.gif) no-repeat #fff; overflow:hidden; float:left; text-indent:-300px;}
.btnas .single:hover{ background-position:0px -80px;}
.btnas .multi{ width:100px; height:80px; background:url(btn_multi.gif) no-repeat #fff; overflow:hidden; float:left; text-indent:-300px;}
.btnas .multi:hover{ background-position:0px -80px;}

/*图片列表*/
.item_image{ position:relative; width:220px; height:220px; overflow:hidden; text-align:center; line-height:20px; float:left; padding:9px;}
.item_image a{width:220px; height:180px; float:left; overflow:hidden;}
.item_image img{max-width:206px; max-height:206px; margin:0px auto; border:1px #eee solid; padding:1px; }
.item_image:hover img,.item_image a:hover img{ border:1px #ccc solid;}

.item_image em{ position:absolute; width:50px; cursor:pointer; border-bottom:1px #ccc solid; border-right:1px #ccc solid; height:20px; top:10px; left:10px; font-style:normal; display:none; background:#fff; color:#f00;}
.item_image:hover em{ display:block;color:#000;}
.item_image span{width:100%; float:left; text-align:center; height:20px; overflow:hidden;}

/*编辑多图文*/

.tblNews{ position:relative; }
.tblNews .newsleft{width:auto; height:auto; border:1px #E7E7EB solid; padding:10px; position:relative}
.newsleft .newsleft_title{ width:100%; height:auto; line-height:20px; float:left; font-size:16px;color:#666666; padding:5px 0px;}
.newsleft .newsleft_remark{line-height:20px;  font-size:14px;color:#666666;}
.newsleft .newsleft_cover{ width:100%; height:160px; float:left; background:#ECECEC; position:relative; overflow:hidden;}
.newsleft .newsleft_cover .cover{ width:100px; height:30px; margin:0px auto; margin-top:65px; font-style:normal; font-size:18px; color:#C0C2CC; text-align:center}
.newsleft .newsleft_cover img{ position:absolute; width:100%; height:100%; z-index:1; left:0px; top:0px; border:none; }

.newsleft .overlay{ position:absolute; z-index:3; left:0px; top:0px; width:100%; height:160px; background:rgba(229,229,229,0.85); display:none;}
.newsleft:hover .overlay{display:block;}

.tblNews .newsright{width:550px; min-height:500px; min-width:530px; margin-left:20px; height:auto; border:1px #E7E7EB solid; padding:10px; background:#F4F5F9;}
.tblNews .newsright table td{ font-size:14px; padding:5px 0px;}

#newsright{position:relative;}
.tblNews .arrow_news{ width:14px; height:24px; background:url(arrow_news.gif) no-repeat; position:absolute; top:30px; left:10px;}
.tblNews .inputText{ width:99%; height:24px; border:1px #E7E7EB solid; padding:2px 5px;}
.tblNews .editor1,.tblNews .editor1:hover{ width:99%;   border:1px #E7E7EB solid;}
.grey{color:#8D8D8D;}
 
.news_add{ width:300px; height:68px; float:left;  background:url(news_add.gif) no-repeat; margin:10px;}
.news_add:hover{ background:url(news_addhover.gif) no-repeat;}

#leftbox{ width:320px; height:auto; float:left; border:1px #E7E7EB solid; border-top:0px;}
#leftbox .leftitem{ width:auto; height:100px; padding:10px; border-bottom:1px #E7E7EB solid; position:relative}
#leftbox .leftitem .overlay{ position:absolute; left:0px; top:0px; width:100%; height:100%; background:rgba(229,229,229,0.85); display:none;}
#leftbox .leftitem:hover .overlay{display:block;}


.leftitem .left_title{ width:200px; float:left; overflow:hidden; line-height:20px;}
.leftitem .left_img{ width:80px; height:80px; float:right; }
.leftitem .left_img img{ width:100%; height:100%; float:left;}
.news_edit{ margin-left:130px; margin-top:30px; width:20px; height:30px; float:left; background:url(news_edit.png) no-repeat; text-indent:-100px; overflow:hidden;}
.news_edit:hover{ background-position:0px -30px;}
.news_delete{ margin-left:10px; margin-top:30px; width:20px; height:30px; float:left; background:url(news_delete.png) no-repeat; text-indent:-100px; overflow:hidden;}
.news_delete:hover{ background-position:0px -30px;}


/*回复*/
.reply_box{}
.reply_box .reply_icon{width:100%; float:left; position:relative; height:30px; padding:5px 0px; border-bottom:1px #ccc solid;}
.reply_box .reply_icon a{margin-right:3px;margin-top:-2px;*margin-top:2px;width:20px;height:20px;vertical-align:middle;display:inline-block; text-indent:-100px; overflow:hidden; margin-left:10px;}
.reply_text {background:url("reply_icon.png") 0 0 no-repeat}
.reply_text.selected, .reply_text:hover {background:url("reply_icon.png") 0 -30px no-repeat}
.reply_image {background:url("reply_icon.png") 0 -60px no-repeat}
.reply_image.selected, .reply_image:hover {background:url("reply_icon.png") 0 -90px no-repeat}
.reply_video {background:url("reply_icon.png") 0 -120px no-repeat}
.reply_video.selected, .reply_video:hover {background:url("reply_icon.png") 0 -150px no-repeat}
.reply_voice {background:url("reply_icon.png") 0 -180px no-repeat}
.reply_voice.selected, .reply_voice:hover {background:url("reply_icon.png") 0 -210px no-repeat}
.reply_news {background:url("reply_icon.png") 0 -240px no-repeat}
.reply_news.selected, .reply_news:hover {background:url("reply_icon.png") 0 -270px no-repeat}


.reply_box .reply_info{width:100%; float:left;position:relative;}
.reply_box .reply_info .reply_common{ width:100%; float:left;position:relative; padding:10px 0px; border-top:1px #E7E7EB solid;}
.reply_box .reply_info .reply_common:first-child{ border-top:0px;}
.reply_box .reply_info .reply_info_image img{ width:80px; height:80px;}

.reply_box .reply_info .reply_info_tool{ position:absolute; top:5px; right:5px; }
.reply_edit{   width:20px; height:30px; float:left; background:url(news_edit.png) no-repeat; text-indent:-100px; overflow:hidden;}
.reply_edit:hover{ background:url(news_edit.png) no-repeat; background-position:0px -30px; }
.reply_delete{   width:20px; height:30px; float:left; background:url(news_delete.png) no-repeat; text-indent:-100px; overflow:hidden;}
.reply_delete:hover{ background-position:0px -30px;}


#popup_ok{ display:none}

/*选择框*/
.modal_box{ width:100%; height:460px; float:left; overflow:hidden;}
.modal_btn{ width:100%; height:24px; float:left; padding-top:6px; text-align:center;}
.modal_btn input { width:50px; height:24px; background:url(btn0.gif) no-repeat 0px 0px; line-height:24px; border:none; text-align:center}
.modal_btn input:hover{background:url(btn0.gif) no-repeat 0px -24px;}
.modal_common{ width:100%; float:left; height:100%;}
.modal_text textarea{ width:100%; float:left; height:100%; border:1px #ccc solid;}

.modal_image .modal_info a{width:125px; height:125px; float:left; overflow:hidden; margin:5px ;}
.modal_image .modal_info img{width:120px; max-height:120px; float:left; border:1px #eee solid; padding:1px;}
.modal_image .modal_info a:hover img{ border:1px #ccc solid;} 
.modal_image .waterimg{ position:relative; height:135px; overflow:hidden; float:left; width:135px;}

.modal_box .modal_news { height:450px; overflow:auto;}
.modal_box #blocks3{ width:100%; float:left; position:relative}

.mask {display:none;position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;filter:alpha(opacity = 60);-moz-opacity:.6;-khtml-opacity:.6;opacity:.6;z-index:1}
.mask.selected{background:url(selected.png) no-repeat center;background-color:#000;filter:alpha(opacity = 60);-moz-opacity:.6;-khtml-opacity:.6;opacity:.6;}
 